* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey600: hsl(0, 0%, 32%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

body {
    font-family: "Inter", "sans-serif";
    background-color: var(--Grey900);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin: 100px;
    width: 100%;
    max-width: 400px;
    background-color: var(--Grey800);
    padding: 2vw;
    border-radius: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.intro img {
    clip-path: circle(50%);
    width: 100px;
    margin-bottom: 25px;
}

.intro h1 {
    color: var(--White);
    margin-bottom: 10px;
}

.intro p:nth-of-type(1) {
    font-size: 1.2rem;
    color: var(--Green);
    margin-bottom: 30px;
}

.intro p:nth-of-type(2) {
    font-size: 1.2rem;
    color: var(--White);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    width: 100%;
    margin-bottom: 30px;
}

.social-links {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.social-links li {
    list-style: none;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.social-links a {
    background-color: var(--Grey700);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--White);
    transition: background-color 0.5s, text-shadow 0.3s, box-shadow 0.3s;
}

.social-links a:hover {
    background-color: var(--Grey600);
    text-shadow: 0 0 10px var(--Green), 0 0 20px var(--Green);
    box-shadow: 0 0 15px var(--Green);
    font-weight: 900;
}

footer {
    text-align: center;
    text-decoration: none;
    margin: 2px;
    color: var(--Grey600);
    font-size: 0.6rem;
}

footer a {
    text-decoration: none;
    color: var(--Grey600); 
    transition: color 0.3s, font-size 0.3s;
    font-size: 0.6rem;
}

footer a:hover {
    color: var(--White);
    font-size: 0.7rem;
}

footer a:visited {
    color: var(--White);
}

footer a:link {
    color: var(--Grey600);
}

@media screen and (max-width: 375px) {
    body {
        background-color: var(--Grey800);
    }
}
