* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey600: hsl(0, 0%, 32%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

body {
    font-family: "Inter", "Outfit", "Young Serif", "sans-serif";
    background-color: var(--Grey900);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    margin: 100px;
    width: 100%;
    max-width: 400px;
    background-color: var(--Grey800);
    padding: 35px;
    border-radius: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.intro img {
    clip-path: circle(50%);
    width: 100px;
    margin-bottom: 25px;
}

.intro h1 {
    color: var(--White);
    margin-bottom: 10px;
}

.intro p:nth-of-type(1) {
    font-size: 1.2rem;
    color: var(--Green);
    margin-bottom: 30px;
}

.intro p:nth-of-type(2) {
    font-size: 1.2rem;
    color: var(--White);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    justify-self: stretch;
    width: 100%;
    margin-bottom: 30px;
    
}

.links a {
    background-color: var(--Grey700);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--White);
    transition: background-color 0.5s, width 0.5s;
}

.links a:hover {
    width: 300px;
    transition-timing-function: linear;
    background-color: var(--Grey600);
    font-weight: 900;
    text-shadow: 0 0 8px var(--Green);
}

.attribution {
    text-align: center;
    text-decoration: none;
    margin: 2px;
    color: var(--Grey600);
}

.attribution a {
    text-decoration: none;
    color: var(--Grey600);
    transition: font-size 0.5s;
}

.attribution a:hover {
    font-size: 1.2rem;
    color: var(--White);
}

@media screen and (max-width: 375px) {
    body {
        background-color: var(--Grey800);
    }
}